<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp"
        tools:targetApi="31">
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activities.UsersActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:windowSoftInputMode="adjustResize" /> <!-- 这个属性表示Activity的主窗口总是会被调整大小，从而保证软键盘显示空间。 -->
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"> <!-- android:exported 代表是否能被其他应用隐式调用。 -->
            <!-- true允许被启动，false不允许被启动。 -->


            <!--
            android:exported 默认值是由有无intent-filter决定的，如果有intent-filter，
            默认值为true，否则为false。
            -->


            <!--
            android:exported = false的情况下，
            这个Activity将只会被当前Application或者拥有同样user ID的Application的组件调用，
            对于其他应用，即使有intent-filter匹配，也无法打开，即无法被其他应用隐式调用
            -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>